body {
	margin: 0;
	background-color: #edf0f5;
}
#header {
	background-color: #3b5998;
	margin: 0;
	height: 80px;
}
#header-container {
	width: 980px;
	margin: 0 auto;
}
#header h1{
	margin: 0;
	max-width: max-content;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}
#facebook {

	margin-top: 20px;
	max-width: max-content;
	float: left;
	margin-right: 40%;
	margin-left: 10px


}
#header form {
	max-width: max-content;
	color: white;
	float: left;
	font-size: small;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 10px;
}


#header a {
	color: white;
	font-size: x-small;
	text-decoration: none;
}

.log-in {
	background-color: #3b5998;
	border-color: #3b6898;
}