#main {
	background-color: #edf0f5;
	margin: 0;
}

#main-container {
	width: 980px;
	max-width: max-content;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;

}

#main-left {
	float: left;
	width: 560px;
	margin: 0, auto;
}
#main-left h2 h4 {
	margin: 0;
	max-width: max-content;
	vertical-align: middle;
	display: inline-block;
}
#main-left h2 {
	font-size: 28px;
	margin: 0;
	width: 70%;
	padding: 30px 0 30px 0;
}

#main-left h4 {
	text-align: center;

}

#main-left-pic {
	margin: 20px 0 20px 0;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	width: 55px;
}

#main-left-word{
	display: inline-block;
	text-align: center;
}
span {
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}



#main-right {
	display: inline-block;
	width: 400px;
	margin: 0, auto;
}

h1 {
	margin: 0;
	font-size: 37px;
	margin-bottom: 10px;
}
#normal {
	margin-bottom: 20px;
	font-size: 20px;
}

#main-name {
	margin-bottom: 10px;
}

#main-right input {
	border-color: #bdc7d8;
	border-radius: 5px;
	padding: 10px;
	border-radius: 5px
	margin-bottom: 10px;
	font-size: 20px;

}
.name {
	width: 42%;
}
#first-name {
	margin-right: 10px;
}

#main-account, #main-password {
	width: 94%;
	margin-bottom: 10px;
}

#birthday {
	margin-top: 10px;
	font-size: 18px;
	padding-bottom: 10px;
}
#main-select {
	padding-bottom: 10px;
}
#main-right a, p {
	font-size: 12px;
	display: inline-block;
}

#main-right a {
	width: 40%;
	vertical-align: middle;
}

select {
	width: 18%;
	height: 30px;
	padding: 5px;
	display: inline-block;
	font-size: 13px;
	box-sizing: border-box;
}

#sex {
	font-size: 18px;
}

p {
	width: 85%;
}

a {
	text-decoration: none;
	max-width: max-content;
}

#main-right button {
	background-color: #69a74e;
	font-size: 19px;
	color: white;
	font-weight: bold;
	min-width: 194px;
	padding: 7px 20px;
	text-align: center;
	border-radius: 5px;
}

#main-end {
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #dddfe2;
}

#main-end a {
	font-size: 15px;
}